[submodule "src/GeneralStateTestsFiller/stEWASMTests/utils/wabt"]
	path = src/GeneralStateTestsFiller/stEWASMTests/utils/wabt
	url = https://github.com/webassembly/wabt
[submodule "src/GeneralStateTestsFiller/stEWASMTests/utils/wasm-metering"]
	path = src/GeneralStateTestsFiller/stEWASMTests/utils/wasm-metering
	url = https://github.com/ewasm/wasm-metering
