venv/
docs/_build/
*~
*.sw?
.vagrant/
*.pem
src/GenStateTestAsBcTemp/
.env3/
.idea/
__pycache__
/BlockchainTests/InvalidBlocks/bcExpectSection*
/BlockchainTests/GeneralStateTests/stExpectSection*
/GeneralStateTests/stExpectSection*
